In [7]:
%matplotlib inline

import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split

from subprocess import check_output
#print(check_output(["ls", "../input"]).decode("utf8"))

In [8]:
RND_SEED=1

In [9]:
samp = pd.read_csv('sample_submission.csv')
store =  pd.read_csv('store.csv')
test = pd.read_csv('test.csv')
train =  pd.read_csv('train.csv')

In [10]:
#Make joined datasets for test and train
train['Set'] = 1
test['Set'] = 0
df = pd.concat([train,test])

In [11]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
Store                        1115 non-null int64
StoreType                    1115 non-null object
Assortment                   1115 non-null object
CompetitionDistance          1112 non-null float64
CompetitionOpenSinceMonth    761 non-null float64
CompetitionOpenSinceYear     761 non-null float64
Promo2                       1115 non-null int64
Promo2SinceWeek              571 non-null float64
Promo2SinceYear              571 non-null float64
PromoInterval                571 non-null object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [12]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [13]:
df.head()

,Customers,Date,DayOfWeek,Id,Open,Promo,Sales,SchoolHoliday,Set,StateHoliday,Store
0,555.0,2015-07-31,5,NaN,1.0,1,5263.0,1,1,0,1
1,625.0,2015-07-31,5,NaN,1.0,1,6064.0,1,1,0,2
2,821.0,2015-07-31,5,NaN,1.0,1,8314.0,1,1,0,3
3,1498.0,2015-07-31,5,NaN,1.0,1,13995.0,1,1,0,4
4,559.0,2015-07-31,5,NaN,1.0,1,4822.0,1,1,0,5

In [14]:
#Fields have both "0" and 0 values
df["StateHoliday"].loc[df["StateHoliday"] == "0"] = 0

/usr/local/lib/python2.7/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [15]:
#Convert types StoreType, Assortment, StateHoliday
store['StoreType'] = store['StoreType'].astype('category').cat.codes
store['Assortment'] = store['Assortment'].astype('category').cat.codes
df["StateHoliday"] = df["StateHoliday"].astype('category').cat.codes

In [16]:
df['StateHoliday'].value_counts()

0    1027067
1      20440
2       6690
3       4100
Name: StateHoliday, dtype: int64

In [17]:
#Let's find the average number of sales per shop and join it with store table
average_sales_customers = train.groupby('Store')[["Sales", "Customers"]].mean()
sales_customers_df = pd.DataFrame({'Store':average_sales_customers.index,
                      'Sales':average_sales_customers["Sales"], 'Customers': average_sales_customers["Customers"]}, 
                      columns=['Store', 'Sales', 'Customers'])
store = pd.merge(sales_customers_df, store, on='Store')

store.head()

,Store,Sales,Customers,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,3945.704883,467.646497,2,0,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,4122.991507,486.045648,0,0,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,5741.253715,620.286624,0,0,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,8021.769639,1100.057325,2,2,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,3867.110403,444.360934,0,0,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [18]:
#The table has null values
store.isnull().sum()

Store                          0
Sales                          0
Customers                      0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [19]:
#Remove shops that were opened but didn't sell anything
df = df.loc[~((df['Open'] == 1) & (df['Sales'] == 0))]

In [20]:
#Store id numbers of closed shops, later set them to null values
closed_ids = df["Id"][df["Open"] == 0].values

In [21]:
#Remove zero valued cells from closed_ids
closed_ids = closed_ids[~np.isnan(closed_ids)]

In [22]:
#Remove cells for closed shops from the table
df = df[df["Open"] != 0]

In [23]:
#Transform field CompetitionOpenSinceYear
def convertCompetitionOpen(df):
    try:
        date = '{}-{}'.format(int(df['CompetitionOpenSinceYear']), int(df['CompetitionOpenSinceMonth']))
        return pd.to_datetime(date)
    except:
        return np.nan

store['CompetitionOpenInt'] = store.apply(lambda df: convertCompetitionOpen(df), axis=1).astype(np.int64)

In [24]:
#Define main features of the store table
features_store = ['Store', 'StoreType', 'Assortment', 
                  'CompetitionDistance', 'CompetitionOpenInt']
features_y = ['Sales']

In [25]:
df.head()

,Customers,Date,DayOfWeek,Id,Open,Promo,Sales,SchoolHoliday,Set,StateHoliday,Store
0,555.0,2015-07-31,5,NaN,1.0,1,5263.0,1,1,0,1
1,625.0,2015-07-31,5,NaN,1.0,1,6064.0,1,1,0,2
2,821.0,2015-07-31,5,NaN,1.0,1,8314.0,1,1,0,3
3,1498.0,2015-07-31,5,NaN,1.0,1,13995.0,1,1,0,4
4,559.0,2015-07-31,5,NaN,1.0,1,4822.0,1,1,0,5

In [26]:
df = pd.merge(df, store[features_store], how='left', on=['Store'])

In [27]:
#Define the main features correlating with the result
features_x = ['DayOfWeek','Promo', 'SchoolHoliday', 'StateHoliday', 'StoreType', 'Assortment', 
                  'CompetitionDistance', 'CompetitionOpenInt']

In [28]:
df[features_x].head()

,DayOfWeek,Promo,SchoolHoliday,StateHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenInt
0,5,1,1,0,2,0,1270.0,1220227200000000000
1,5,1,1,0,0,0,570.0,1193875200000000000
2,5,1,1,0,0,0,14130.0,1164931200000000000
3,5,1,1,0,2,2,620.0,1251763200000000000
4,5,1,1,0,0,0,29910.0,1427846400000000000

In [29]:
df[features_x].isnull().sum()

DayOfWeek                 0
Promo                     0
SchoolHoliday             0
StateHoliday              0
StoreType                 0
Assortment                0
CompetitionDistance    2262
CompetitionOpenInt        0
dtype: int64

In [30]:
#Put all Nan vauled cells in CompetitionDistance to -1
df['CompetitionDistance'] = df['CompetitionDistance'].fillna(-1)

In [31]:
#Check again
df[features_x].isnull().sum()

DayOfWeek              0
Promo                  0
SchoolHoliday          0
StateHoliday           0
StoreType              0
Assortment             0
CompetitionDistance    0
CompetitionOpenInt     0
dtype: int64

In [32]:
df[features_x].head()

,DayOfWeek,Promo,SchoolHoliday,StateHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenInt
0,5,1,1,0,2,0,1270.0,1220227200000000000
1,5,1,1,0,0,0,570.0,1193875200000000000
2,5,1,1,0,0,0,14130.0,1164931200000000000
3,5,1,1,0,2,2,620.0,1251763200000000000
4,5,1,1,0,0,0,29910.0,1427846400000000000

In [33]:
#Define the train data
X_train, y_train = np.array(df.loc[(df['Set'] == 1)][features_x]),np.array(df.loc[(df['Set'] == 1)][features_y])

In [34]:
#Flatten the train data
y_train=np.ravel(y_train)

In [35]:
#Check the best depth of the random forest
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

In [36]:
scores = []
for d in tqdm_notebook(range(20,24)):
    model =  RandomForestRegressor(max_depth=d)
    scores.append(cross_val_score(model, X_train, y_train, cv=5, scoring='r2').mean())
plt.plot(range(20,24), scores)

NameError: name 'tqdm_notebook' is not defined

In [37]:
#Train our model
randomForest = RandomForestRegressor(max_depth=24)
randomForest.verbose = True
randomForest.fit(X_train, y_train)

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:   17.5s finished

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=24,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=True,
           warm_start=False)

In [38]:
#Define the test data
X_test=np.array(df.loc[(df['Set'] == 0)][features_x])
X_test.shape

(35104, 8)

In [39]:
#Predict the result
result = randomForest.predict(X_test)

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.1s finished

In [40]:
#First data frame: opened shops
open_ids = df[df['Id'].isnull() == False & (df['Set'] == 0)]['Id']
a = pd.DataFrame({ "Id": open_ids, "Sales": result})

In [41]:
#Second data frame: closed shops - we will set them to null values
zeroes = np.zeros(closed_ids.shape)
b = pd.DataFrame({ "Id": closed_ids, "Sales": zeroes})

In [42]:
#Join tables, sort by id and transfrom ID field into int type. 
submission =  pd.concat([a,b], ignore_index=True)
submission.sort_values('Id', inplace=True)
submission['Id']=submission['Id'].astype(int)
submission.to_csv('submission.csv', index=False)

In [43]:
pd.read_csv('submission.csv').head()

   Id        Sales
0   1  4953.240715
1   2  7997.663708
2   3  9082.584013
3   4  7092.457734
4   5  6676.127232